* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url("../img/fondo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1,
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-family: 'Lobster', cursive;

}

div h3 {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#main img {
    border-radius: 1rem;
}
main div label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}

#footer {
    margin: 1rem;
    box-shadow: 1rem 1rem 2rem 1rem rgb(116, 110, 110);
    margin-bottom: 1rem;
  }
  
  #footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3rem;
    align-content: center;
    margin-bottom: 1rem;
    font-family: 'Lobster', cursive;
  }
  #footer a {
    text-decoration: none;
    color: black;
    transition: 300ms;
  }
  #footer a:hover {
    transform: scale(1.3);
    color: rgb(185, 23, 120);
  }

section {
    display: flex;
    width: 100%;
    min-width: 350px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 4em;
}

#cart {
    height: auto;
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
}

#cart #cartContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#cart #cartContainer h2 {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
}

#cart #cartContainer .cart-item {
    background-color: rgba(204, 204, 204, 0.615);
    width: 100%;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    padding: 1em;
}

#cart #cartContainer .cart-item h4 {
    width: 250px;
    text-align: center;
    text-align: left;
}

.card {
    width: 210px;
    height: auto;
    margin: 15px;
    padding: 0.7em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
}

.card h3 {
    margin: 0.5em 0em;
}

.card h4 {
    font-size: 0.875em;
    margin: 0.5em 0em;
    color: #888;
    font-weight: normal;
}

.card .button {
    width: 100%;
    border: none;
    padding: 0.7em;
    background-color: #695CFE;
    background-color: #000;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    margin: 0.5em 0em;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 1.25px 1.25px 10px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
}

.botonscale {
    transform: scale (1.2);
}

#agregarprenda {
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Permanent Marker', cursive;
}

#contacto {
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Permanent Marker', cursive;

}

button a {
    color: #fff;
    text-decoration: none;
}

#btnpagar {
    width: 10%;
    border: none;
    padding: 0.7em;
    font-family: 'Permanent Marker', cursive;
    margin: 0.5em 0em;
}

/*-----Agregar productos ----*/

#login_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 62, 189, 0.6);
    border-radius: 1rem;
    margin: 2% 1% 2% 1%;
    padding: 2%;
}
#login_user input, label{
    margin: 1%;
    padding: 1%;
    width: 300px;
}
#login_user button{
    margin-top: 4%;
    padding: 2%;
}


#formuilario_addproduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(20, 62, 189, 0.6);
    border-radius: 1rem;
    margin: 2% 1% 2% 1%;
    padding: 2%;
}
#formuilario_addproduct select, input{
    width: 300px;
}

#formuilario_addproduct button{
    margin: 2% 0% 2% 0%;
    padding: 2%;
}

#contacto_btn{
    margin-top: 5%;
}

.ocultar{
    display: none !important;
}